* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

.navmenu {
  width: 100%;
  padding: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  font-weight: bold;
}

.logoContainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.logo img {
  width: 42px;
  border-radius: 100px;
}

.linksContainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links li a {
  text-decoration: none;
  color: rgba(230, 230, 230, 0.8);
}

.searchBtnContainer {
  display: grid;
  justify-content: center;
  align-items: center;
}

.searchBtn {
  width: 36px;
  aspect-ratio: 1;
  cursor: pointer;
  font-size: large;
  /* border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px; */
  background: none;
  border: 0px;
  color: rgba(230, 230, 230, 0.8);
}

.searchBtn:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.searchBtn:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}




/*Main*/


@media(max-width: 500px) {
  .intro {
    /* margin-top: 64px; */
    width: 100%;
    height: 100vh;
    background: url("https://wallpapershome.com/images/pages/pic_v/25452.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    color: #fff;
    font-size: 120%;
  }  


  .intro2 {
    width: 100%;
    height: 100vh;
  
    display: grid inline-block;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    color: #fff;
    font-size: 120%;
  }

  .intro3 {
    width: 100%;
    height: 50vh;
  
    display: grid inline-block;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    color: #fff;
    font-size: 120%;
  }
}

@media(min-width: 500px) {
  .intro {
    /* margin-top: 64px; */
    width: 100%;
    height: 100vh;
    background: url("https://wallpapershome.com/images/pages/pic_h/25452.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    color: #fff;
    font-size: 120%;
  }

  .intro2 {
    width: 100%;
    height: 100vh;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    font-size: 120%;
  }

  .intro3 {
    width: 100%;
    height: 100vh;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    font-size: 120%;
  }
}

.introTitle {
  animation: moveInBottom 1s ease-out;
}
.introSub {
  animation: moveInTop 1s ease-out;
}



.intro2 li {
  height: 50vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  color: #fff;
  opacity: 0;
}

.intro2 li img {
  width: 81%;
  margin: 0 auto;
}

.intro2Title {
  color: rgba(0, 0, 0, 0.6);
}
.intro2Sub {
  color: rgba(0, 0, 0, 0.6);
}




.intro3 li {
  opacity: 0;
  height: 50vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  color: #fff;
}

.intro3 li img {
  width: 81%;
  margin: 0 auto;
}

.intro3Title {
  color: rgba(0, 0, 0, 0.6);
}
.intro3Sub {
  color: rgba(0, 0, 0, 0.6);
}


@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
